/* Shree Ganeshaye Namah */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background:linear-gradient(90deg, #3f87a6 0%, #ebf8e1 50%, #f69d3c 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%
}
.icontodo{
    top: 0;
    position: absolute;
    height: 150px;
    margin-left:39%;
}
.to{
    top: 0;
    border: 2px solid rgb(169, 161, 161);
    height: 545px;
    width:400px;
    box-shadow: 3px 0 30px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.532);
	border-radius: 5%;
}
.do{
    top: 0;
    border: 2px solid rgb(169, 161, 161);
    height: 545px;
    width:400px;
    box-shadow: 3px 0 30px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.532);
	border-radius: 5%;
	
}
.list{
display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-top: 80px;
}
.weekly-schedule {
	display: flex;
	flex-direction: column;
}

.weekly-schedule h1 {
	margin-top: 20px;
	font-size: 1.3rem;
	font-weight: 700;
}

.calendar {
	margin-top: 10px;
}

.day-and-activity {
	display: grid;
	grid-template-columns: 15% 60% 25%;
	align-items: center;
	border-radius: 14px;
	margin-bottom: 5px;
	color: #484d53;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}
.activity-d {
	
	background-color: rgb(124, 136, 224, 0.5);
	background-image: linear-gradient(240deg, rgb(124, 136, 224) 0%, #c3f4fc 100%);
}
.activity-one {
	background-color: rgb(124, 136, 224, 0.5);
	background-image: linear-gradient(240deg, rgb(124, 136, 224) 0%, #c3f4fc 100%);
	display: none;
}
.activity-two {
	background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
display: none;

}
.activity-three {
	background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
display: none;
	
}
.activity-four {
	background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: none;

}
.activity-five {
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #f988c8 0%, #8c62b1 50%, #80c4f4 100%);
display: none;

}
.activity-ones {
	background-color: rgb(124, 136, 224, 0.5);
	background-image: linear-gradient(240deg, rgb(124, 136, 224) 0%, #c3f4fc 100%);
	display: none;
	
}
.activity-twos {
	background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
display: none;
}
.activity-threes {
	background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
display: none;
	
}
.activity-fours {
	background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: none;
}
.activity-fives {
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #f988c8 0%, #8c62b1 50%, #80c4f4 100%);
display: none;
}

.day {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(-10px);
}

.day h1 {
	font-size: 1.6rem;
	font-weight: 600;
}

.day p {
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 600;
	transform: translateY(-3px);
}

.activity {
	border-left: 3px solid #484d53;
}

.description {
	display: flex;
	margin-left: 20px;
}
.heading{
	margin-left: 30%;
}
.inline{
	display: flex;
	flex-direction: row;
	margin-bottom: -14px;
}

.activity h2 {
	margin-left: 10px;
	font-size: 1.25rem;
	font-weight: 600;
	border-radius: 12px;
}

.btnn {
	display: block;
	padding: 8px 24px;
	margin: 10px auto;
	margin-top: 15px;;
	font-size: 1rem;
	font-weight: 500;
	outline: none;
	text-decoration: none;
	color: #484b57;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	cursor: pointer;
}
.btn {
	display: block;
	padding: 8px 15px;
	margin: 10px auto;
	font-size: 1.1rem;
	font-weight: 500;
	outline: none;
	text-decoration: none;
	color: #484b57;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
	transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
	animation: gelatine 0.5s 1;
}
.btnn:hover,
.btnn:focus,
.btnn:active,
.btnn:visited {
	transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
	animation: gelatine 0.5s 1;
}
.dialog{
	position: absolute;
	top: 50%;
	left: 25%;;
	width: 50%;
	z-index: 10001;
	display: none;
}
.datetxt{
	height: 40px;
	width: 30px;
	margin-top: 20%;
	resize: none;
	font-size: 25px;
	font-weight: 900;

}
.daytxt{
	height: 40px;
	width: 60px;
	margin-top: 10%;
	resize: none;
	font-size: 25px;
	font-weight: 900;
	
}
.tittxt{
	height: 40px;
	width: 300px;
	margin-left: 5%;
	resize: none;
	font-size: 25px;
	font-weight: 900;
	
}
.destxt{
	height: 40px;
	width: 600px;
	resize: none;
	font-size: 25px;
	font-weight: 900;
	
}
@keyframes gelatine {
	0%,
	100% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}
@media (max-width:768px) {
    
    .list{
        display:flex;
        flex-direction: column;
        gap:10px;
        margin-left: 60px;
    }
    .icontodo{
        top: 0;
        position: absolute;
        height: 100px;
        margin-left:25%;
    }
    .to{
        margin-top: 20px;
        border: 2px solid rgb(255, 255, 255);
        height: 550px;
        width:250px;
        box-shadow: 3px 0 30px rgb(32, 32, 32);
        background-color: rgba(255, 255, 255, 0.667);
    }
    .do{
        height: 550px;
        width:250px;
        margin-top: 20px;
    }
	.datetxt{
		height: 15px;
		width: 10px;
		margin-top: 50%;
		resize: none;
		font-size: 9px;
		font-weight: 900;
	
	}
	.daytxt{
		height: 15px;
		width: 20px;
		margin-top: 10%;
		resize: none;
		font-size: 8px;
		font-weight: 900;
		
	}
	.tittxt{
		height: 15px;
		width: 70px;
		margin-left: 5%;
		resize: none;
		font-size: 25px;
		font-weight: 900;
		
	}
	.destxt{
		height: 15px;
		width: 90px;
		margin-left: -15px;
		resize: none;
		font-size: 25px;
		font-weight: 900;
		
	}
	.btnn {
		display: block;
		padding: 1px 10px;
		margin: 10px auto;
		margin-top: 15px;;
		font-size: 0.9rem;
		font-weight: 500;
		outline: none;
		text-decoration: none;
		color: #484b57;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 25px;
		cursor: pointer;
	}
	.btn {
		display: block;
		padding: 15px;
		margin: 10px auto;
		font-size: 0.9rem;
		font-weight: 500;
		margin-left:-16px;
		outline: none;
		text-decoration: none;
		color: #484b57;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 25px;
		cursor: pointer;
	}


}